body {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-position: center; /* Adjust as needed */
    background-size: cover; /* Adjust as needed */
    z-index: -1; /* Place the background below UI elements */
  }

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Fill the viewport height */
}

.modify-button {
  /*font-family: 'Gentium Plus', serif;*/
  animation: none; 
  background-color: #e6659600;
  color: black;
  text-align: center;
  padding: 25px 125px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer; /* Indicate clickable element */
  animation: button-click 0.2s ease-in-out forwards; /* Apply animation on click */
}

.modify-button:focus {
    background-color: #ff7f9b50;
  }

  .modify-button:hover {
    background-color: #b0355000;
  }

@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@400;700&display=swap');

@keyframes button-click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
